@media screen and (min-width: 480px) {
  .container {
    max-width: 428px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }
}

  


@media screen and (max-width: 767px) {
  
  /* Header */
  .flex-header {
    padding-right: 16px;
    padding-left: 16px;
  }
  
  .navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .logo {
    width: 115px;
  }

  .menu {
    display: none;
  }

  .address {
    display: none;
  }

  /* Mobile menu  */
  .menu-burger {
    border: none;
    background-color: transparent;
  }

  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 1;
    visibility: visible;
    transition: opacity 250ms var(--cubic-time),  visibility 250ms var(--cubic-time);

  }
  
  .backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
  
  .mobile {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 80px;
  padding-left: 40px;
  padding-bottom: 40px;
    width: 100%;
    height: 100vh;
    background: #fff;
    transition: background 250ms var(--cubic-time);
  }
  
  .burger-close {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition-property: background;
    transition-duration: 250ms;
    transition-timing-function: var(--cubic-time);
    fill: currentColor;
    position: absolute;
    top: 24px;
    right: 24px;
  }

  .burger-close:focus {
    outline: none;
    color: #ffffff;
    background: var(--hover-ocean);
  }
  
   

  .menu-mobile {
    display: block;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
  }
  .menu-item {
    margin-left: 0;
  }
  .menu-item:not(:last-child) {
    margin-bottom: 40px;
    
  }

  
   

  .active {
    color: var(--navy-blue);
  }
  .active-mobile {
    color: var(--hover-ocean);
  }
  .active::after {
    display: none;
  }
  
  
  .address-mobile {
    margin-top: auto;
  }

  .address-list {
    display: flex;
    flex-direction: column-reverse;
    align-items: start;
    margin-bottom: 48px;
    
  }
  

  .address-item:not(:first-child) {
    margin-bottom: 40px;
  }
  .address-link {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    margin: 0;
  }

  .address-tel {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--hover-ocean);
  }

  .list-burger {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 24px;
    width: 232px;
    height: 40px;
    margin-top: 8px;
  }

  .mobile-contacts {
    fill: currentColor;
  }

  .list-icons-mobile {
    display: flex;
    justify-content: space-evenly;
   
   
    
  
  }  


  /* !!!!!!!!!!!! */
  @media screen and (min-width: 430px) {
    .address-tel {
      font-size: 36px;
    }
  }
  /* Hero Section */
  .hero-section {
  }

  .hero-text {
    font-size: 36px;
    line-height: 40px;
    max-width: 320px;
    width: 100%;
    margin: 0 auto 72px;
  }

  .modal {
    width: 95%;
    height: auto;
    padding: 0 18px;
  }
  .modal-button {
    padding: 6px;
  }

  .icon-modal {
    fill: currentColor;
  }

  /* Info Section */
  .info {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .main-list {
    display: block;
  }

  .item:not(:last-child) {
    margin-bottom: 72px;
  }

  .icon-info {
    display: none;
  }

  .info-main {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
  }

  .info-text {
    font-weight: 500;
  }

  /* Work section unvisible */
  .work {
    display: none;
  }

  /* Team Section */
  .team {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .team-list {
    display: block;
  }

  .team-block {
    width: 264px;
    margin: 0 auto;
  }

  .team-block:not(:last-child) {
    margin-bottom: 72px;
  }

  .list-icons {
    width: 100%;
  }

  /* Customes Section */
  .customers {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .customers-list {
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 16px;
  }
  .custom-link {
    width: auto;
  }
  .customers-item {
    flex-basis: calc((100% - 16px) / 2);
  }

  /* Footer */
  .footer {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .footer-flex {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .footer-logo-block {
    margin-bottom: 72px;
  }

  .footer-logo {
    display: block;
    margin: 0 auto;
  }
  .footer-media {
    margin: 0 auto 72px;
  }
  .media-main {
    text-align: center;
  }

  .media-list {
    justify-content: center;
  }

  .subscribe-window {
    margin: 0;
  }

  .subscribe-window h2 {
    text-align: center;
  }

  .form {
    height: 100%;
    margin: 0 auto;
  }
  .footer-form {
    display: block;
  }

  .form-email {
    width: 100%;
    margin-bottom: 16px;
  }

  .footer-button {
    margin: 0 auto;
  }

  /* Portfolio */

  .filter {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .filter-list {
    flex-wrap: wrap;
    justify-content: start;
    gap: 24px;
  }

  .item-list:not(:first-child) {
    margin: 0;
  }

  .list-content {
    display: block;
    margin: 0 auto;
  }

  .item-con {
    margin-top: 48px;
    margin-bottom: 48px;
  }

  .item-con:last-child {
    margin-bottom: 0;
  }

  .list-link {
    max-width: 396px;
    width: 100%;
  }
}
