@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}


@media screen and (min-width: 768px) and (max-width: 1199px) {
  /* Header */
  .flex-header {
    padding-top: 16px;
    padding-bottom: 10px;
  }

  .address-list {
    display: inline-block;
    margin-left: auto;
  }

  .address-link {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;

    letter-spacing: 0.04em;
    padding: 0;
  }

  .address-item:not(:last-child) {
    margin-bottom: 12px;
  }

  .menu {
    margin-left: 100px;
  }

  .menu-burger {
    display: none;
  }

  /* Mobile Section  */

  /* Hero section */
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tablet/hero-img-tablet.jpg);
  }

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tablet/hero-img-tablet2x.jpg);
  }
}

  /* Info Section */

  .info {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .main-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  .item {
    width: calc((100% - 24px) / 2);
  }

  .icon-info {
    display: none;
  }

  .info-main {
    font-weight: 700;
    font-size: 36px;
  }

  .info-text {
    font-weight: 500;
  }

  /* Work section unvisible */
  .work {
    display: none;
  }

  /* Team Section */
  .team {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .team-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 64px;
    row-gap: 24px;
    margin: 0 auto;
    justify-content: center;
  }

  /* Customes Section */
  .customers {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .customers-list {
    width: 552px;

    flex-wrap: wrap;

    row-gap: 72px;
    column-gap: 24px;
    margin: 0 auto;
  }
  .custom-link {
    width: 168px;
    height: 88px;
  }

  /* Footer */
  .footer {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .footer-flex {
    flex-wrap: wrap;
  }

  .footer-tablet {
    display: flex;
    width: 565px;
    margin: 0 auto;
    margin-bottom: 72px;
  }

  .footer-media {
    margin-left: 24px;
  }

  /* Portfolio */
  .filter {
    padding-top: 64px;
    padding-bottom: 96px;
  }

  .list-content {
    justify-content: start;
    row-gap: 72px;
  }
  .item-con {
    display: flex;
    justify-content: center;
    flex-basis: calc((100% - 24px) / 2);
  }

  .portfolio-info {
    width: 100%;
  }
}
